<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hklk.website.dao.inter.TempMeetingMapper">
    <resultMap id="BaseResultMap" type="com.hklk.website.entity.table.TempMeeting">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="uuid" property="uuid" jdbcType="VARCHAR"/>
        <result column="school_name" property="schoolName" jdbcType="VARCHAR"/>
        <result column="apply_person" property="applyPerson" jdbcType="VARCHAR"/>
        <result column="apply_phone" property="applyPhone" jdbcType="VARCHAR"/>
        <result column="choose_type" property="chooseType" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="leader_name" property="leaderName" jdbcType="VARCHAR"/>
        <result column="leader_phone" property="leaderPhone" jdbcType="VARCHAR"/>
        <result column="leader_position" property="leaderPosition" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, uuid, school_name, apply_person, apply_phone, choose_type, create_time, leader_name, 
    leader_phone, leader_position,remark
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from hklk_temp_meeting
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hklk_temp_meeting
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.hklk.website.entity.table.TempMeeting">
    insert into hklk_temp_meeting (id, uuid, school_name, 
      apply_person, apply_phone, choose_type, 
      create_time, leader_name, leader_phone, remark,
      leader_position)
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{schoolName,jdbcType=VARCHAR}, 
      #{applyPerson,jdbcType=VARCHAR}, #{applyPhone,jdbcType=VARCHAR}, #{chooseType,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{leaderName,jdbcType=VARCHAR}, #{leaderPhone,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},
      #{leaderPosition,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.hklk.website.entity.table.TempMeeting">
        insert into hklk_temp_meeting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="uuid != null">
                uuid,
            </if>
            <if test="schoolName != null">
                school_name,
            </if>
            <if test="applyPerson != null">
                apply_person,
            </if>
            <if test="applyPhone != null">
                apply_phone,
            </if>
            <if test="chooseType != null">
                choose_type,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="leaderName != null">
                leader_name,
            </if>
            <if test="leaderPhone != null">
                leader_phone,
            </if>
            <if test="leaderPosition != null">
                leader_position,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="uuid != null">
                #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="schoolName != null">
                #{schoolName,jdbcType=VARCHAR},
            </if>
            <if test="applyPerson != null">
                #{applyPerson,jdbcType=VARCHAR},
            </if>
            <if test="applyPhone != null">
                #{applyPhone,jdbcType=VARCHAR},
            </if>
            <if test="chooseType != null">
                #{chooseType,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="leaderName != null">
                #{leaderName,jdbcType=VARCHAR},
            </if>
            <if test="leaderPhone != null">
                #{leaderPhone,jdbcType=VARCHAR},
            </if>
            <if test="leaderPosition != null">
                #{leaderPosition,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hklk.website.entity.table.TempMeeting">
        update hklk_temp_meeting
        <set>
            <if test="uuid != null">
                uuid = #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="schoolName != null">
                school_name = #{schoolName,jdbcType=VARCHAR},
            </if>
            <if test="applyPerson != null">
                apply_person = #{applyPerson,jdbcType=VARCHAR},
            </if>
            <if test="applyPhone != null">
                apply_phone = #{applyPhone,jdbcType=VARCHAR},
            </if>
            <if test="chooseType != null">
                choose_type = #{chooseType,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="leaderName != null">
                leader_name = #{leaderName,jdbcType=VARCHAR},
            </if>
            <if test="leaderPhone != null">
                leader_phone = #{leaderPhone,jdbcType=VARCHAR},
            </if>
            <if test="leaderPosition != null">
                leader_position = #{leaderPosition,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hklk.website.entity.table.TempMeeting">
    update hklk_temp_meeting
    set uuid = #{uuid,jdbcType=VARCHAR},
      school_name = #{schoolName,jdbcType=VARCHAR},
      apply_person = #{applyPerson,jdbcType=VARCHAR},
      apply_phone = #{applyPhone,jdbcType=VARCHAR},
      choose_type = #{chooseType,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      leader_name = #{leaderName,jdbcType=VARCHAR},
      leader_phone = #{leaderPhone,jdbcType=VARCHAR},
      leader_position = #{leaderPosition,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectByUuid" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from hklk_temp_meeting
        where uuid = #{uuid,jdbcType=VARCHAR}
    </select>

    <select id="callMeeting" resultType="map">
    {call queryMeeting}
  </select>

    <select id="callMeetingDis" resultType="map">
    call queryMeeting_dis
    </select>
</mapper>